/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #00020c;
}

/* storydelapan */

/* story8 */
input[type=text] {
  border: none;
  border-bottom: 5px solid #0084ff;
}

.search-box {
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px #0ebbff;
  padding: 10px 20px 10px 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  background-color: #00eeff;
}

.search-box svg {
  color: #64ABE3;
  cursor: pointer;
  margin-right: 15px;
}

th #cover {
  /* border-radius: 0px; */
}

thead {
  background-color: #276cdb;
  text-align: center;
  color: #ffffff;
  box-shadow: 3px 3px 3px 3px #8ed9ec;
}

tbody {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  border-radius: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #8ed9ec;
  background-color: #2aa2c0;
}





/* storytujuh */
button {
  background-color: transparent;
  border: none;
  outline: none;
  color: darkblue;
}

h4 {
  font-size: 10pt;
  font-weight: bold;
  color:white;
  /* text-shadow: -1px 0 rgb(95, 87, 128), 0 1px rgb(95, 87, 128), 0 -1px  rgb(95, 87, 128); */
  text-shadow:  5px 0px 5px cyan, 
  -5px -5px 5px deepskyblue
}

#accord-1 h3 {
  background-color: #ff9696;
  color: #870000;
  font-weight: 600;
  box-shadow:  5px 0px 5px #ff0000, 
  -5px -5px 5px #ff4545;
}

#accord-2 h3 {
  background-color: #8cc8ff;
  color: #003a70;
  font-weight: 600;
  box-shadow:  5px 0px 5px #0daeff, 
  -5px -5px 5px #33bbff;
}

#accord-3 h3 {
  background-color: #73ff8c;
  color: #007014;
  font-weight: 600;
  box-shadow:  5px 0px 5px #a5ffe1, 
  -5px -5px 5px #a5ffe1;
}

#accord-4 h3 {
  background-color: #dd8dfc;
  color: #500070;
  font-weight: 600;
  box-shadow:  5px 0px 5px #fbdaff, 
  -5px -5px 5px #fad2ff;
}

.isi-1 {
  box-shadow:  10px 10px 20px #ffa5da, 
  -10px -10px 20px #ffbed9;
  background-color: rgb(255, 184, 214);
}

.isi-2 {
  box-shadow:  10px 10px 20px #6bceff, 
  -10px -10px 20px #82d6ff;
}

.isi-3 {
  box-shadow:  10px 10px 20px #a5ffe1, 
  -10px -10px 20px #beffeb;
}

.isi-4 {
  box-shadow:  10px 10px 20px #f4a5ff, 
  -10px -10px 20px #dcbeff;
}



/*navbar*/

.navbar a{
  color: white;
  font-size: 2rem;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar {
  background-color: black;
}
.navbar .navbar-brand {
  color: #f6f6f6;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #a5d6ff;
}
.navbar .navbar-text {
  color: #f6f6f6;
}
.navbar .navbar-text a {
  color: #a5d6ff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #a5d6ff; 
}
.navbar .navbar-nav .nav-link {
  color: #f6f6f6;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #a5d6ff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #9f9f9f;
  border-color: #00020c;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #f6f6f6;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #a5d6ff;
  background-color: #00020c;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #00020c;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #a5d6ff;
  background-color: #00020c;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: white;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f6f6f6;
}
.navbar .navbar-link {
  color: #f6f6f6;
}
.navbar .navbar-link:hover {
  color: #a5d6ff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f6f6f6;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5d6ff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5d6ff;
    background-color: #00020c;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f6f6f6;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5d6ff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5d6ff;
    background-color: #00020c;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f6f6f6;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5d6ff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5d6ff;
    background-color: #00020c;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f6f6f6;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5d6ff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5d6ff;
    background-color: #00020c;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f6f6f6;
}
.navbar-expand .navbar-nav .show dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #a5d6ff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #a5d6ff;
  background-color: #00020c;
}