{% extends 'base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Log In</title> 


{% endblock meta %}   {% block content %}

  <body style="background-color: #F3F3F3;">
    <div class="row m-5 justify-content-center">
        <div class="col text-center">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <h5 style="color: black;" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h5>
                {% endfor %}
            </ul>
            {% endif %}     
        </div>
    </div>
    
    <div class="row m-5 justify-content-center">
        <div class="col-md-8 col-sm-8"  style="color: rgb(0, 64, 121); font-weight: 700;">
            <form method="POST">

                {% csrf_token %}
            
                {{ form.as_p }}
            
                <button type="submit" class="btn btn-primary" style="background-color: rgb(93, 205, 233);">Register</button>
            
            </form>
        </div>        
    </div>
    <div class="row m-5 justify-content-center">
        <div class="col-md-8 col-sm-8">
            <h5 style="color: rgb(255, 4, 58);">Already have an account? <a href="{% url 'storysembilan:login'%}">Sign in</a></h5>
        </div>   
    </div>
{% endblock content %}