{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  {% block meta %}
  {% endblock meta %}
</head>

<body style="background-color: black;">
  <div class="offset-1 col-10 text-center ">
    <nav class="navbar fixed-top navbar-expand-lg navbar">
    <a class="navbar-brand active" id="namaprofil" href="{% url 'main:home' %}">Futuh's</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      {% if user.is_authenticated %}
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" id="navhome" href="https://story-ppw-futuh.herokuapp.com/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'storytujuh:storytujuh' %}">Story7</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'storydelapan:story8' %}">Story8</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'storysembilan:logout' %}">Log out </a>
        </li>

      {% else %}
      <li class="nav-item">
        <a style="color: rgb(1, 135, 197);" class="nav-link" href="{% url 'main:home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'storysembilan:login' %}">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'storysembilan:signup' %}">Sign Up</a>
      </li>
      {% endif %}
        </ul>
    </div>
    </nav>
</div>

  {% block content %}
  {% endblock content %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

</body>

</html>
