{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello My Friend!</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<div class="greetuser" style="color: aliceblue; text-align: center; margin-block-start: 25%;">
    <h1>Hi, {{user.username}}!</h1>
</div>
{% else %}
{% endif %}
{% endblock content %}
