{% extends 'base.html' %} {% load static %} {% block meta %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'jquery-3.5.1.js' %}"></script>
        <title>Story7</title> 
        <script src="{% static 'storytujuh.js' %}"></script>
{% endblock meta %}   {% block content %}

  <div class="row m-5  justify-content-center">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-8 col-sm-8 mt-5 text-center ">
          <h4>Want to know more about me?</h4> 
          <h4>Tap the accordion to see the details!</h4>
      </div>
      <div class="col-md-2 col-sm-2 mt-5">
  </div>

  <div class="container" style="font-family: 'Playfair Display', serif; ">
          <div id="accord-1">
              <h3>Activities
                  <span style="float: right;">
                      <button style="font-size: 20px;" class="button-up" ><i class="fas fa-angle-up"></i></button>
                      <button style="font-size: 20px;" class="button-down" ><i class="fas fa-angle-down"></i></button>
                  </span>
              </h3>
              <div class="isi-1">
                  <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td>Bisnis</td>
                        </tr>
                        <tr>
                          <td>Mabar</td>
                        </tr>
                        <tr>
                          <td>Kuliah</td>
                        </tr>
                      </tbody>
                    </table>             
              </div>
          </div>

          <div id="accord-2">
              <h3>Achievements and Experiences
                  <span style="float: right;">
                      <button class="button-up" style="font-size: 20px;"><i class="fas fa-angle-up"></i></button>
                      <button class="button-down" style="font-size: 20px;"><i class="fas fa-angle-down"></i></button>
                  </span>
              </h3>
              <div class="isi-2">
                  <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td><a href="https://perak.cs.ui.ac.id/">Champion MLBB Perak Fasilkom 2020</a></td>
                          <td>April 2020</td>
                        </tr>
                        <tr>
                          <td><a href="https://www.linkedin.com/company/pemira-fasilkom-ui?trk=similar-pages_result-card_full-click">Staff of Kampanye Pemira Fasilkom UI 2019</a></td>
                          <td>December 2019</td>
                        </tr>
                        <tr>
                          <td><a href=""></a>Staff of Dana Usaha Siwak 2020</td>
                          <td>November 2020</td>
                        </tr>
                        <tr>
                          <td><a href="">Kontingen Fasilkom UI</a></td>
                          <td>2019 - now</td>
                        </tr>
                      </tbody>
                    </table>           
              </div>
          </div>

          <div id="accord-3">
              <h3>Hobbies
                  <span style="float: right;">
                      <button class="button-up" style="font-size: 20px;"><i class="fas fa-angle-up"></i></button>
                      <button class="button-down" style="font-size: 20px;"><i class="fas fa-angle-down"></i></button>
                  </span>
              </h3>
              <div class="isi-3">
                  <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td>Business</td>
                        </tr>
                        <tr>
                          <td>Play video games</td>
                        </tr>
                        <tr>
                          <td>Draw</td>
                        </tr>
                      </tbody>
                    </table>          
              </div>
          </div>

          <div id="accord-4">
              <h3>Happiness
                  <span style="float: right;">
                      <button class="button-up" style="font-size: 20px;"><i class="fas fa-angle-up"></i></button>
                      <button class="button-down" style="font-size: 20px;"><i class="fas fa-angle-down"></i></button>
                  </span>
              </h3>
              <div class="isi-4">
                <table class="table table-hover">
                  <tbody>
                      <tr>
                        <td>Math is the art of reasons.</td>
                      </tr>
                  </tbody>
                  </table>                
            </div>
        </div>

  </div>




{% endblock content %}